@model LoginModelClass
@{
    Layout = "_dashboardLayout";
}
@{
    ViewData["Title"] = "Edit";
}

<h1 class ="text-primary text-muted">Edit User - @ViewBag.userName</h1>
<hr />
<form method="post">
    <div class="border p-5 mt-5">
        <div class="row pb-2">
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control mt-2" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control mt-2" type="password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="row pt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" style="width:150px">
                    Update
                </button>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-primary" asp-controller="Dashboard" asp-action="DashboardPage" style="width:150px">
                    Back
                </a>
            </div>
        </div>
    </div>

</form>
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}