@model LoginModelClass
@{
    Layout = "_dashboardLayout";
}
@{
    ViewData["Title"] = "Dashboard";

}
<div class="row text-primary">
    <h2 class="text-primary text-muted">DashBoard For @ViewBag.userName</h2>

</div>